body {
  font-family: Arial, sans-serif;
  background: #2b7a49;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 32px;
  margin-bottom: 12px;
  letter-spacing: 1px;
  font-size: 32px;
}

#game-container {
  display: inline-block;
  position: relative;
  margin-top: 5px;
}

canvas {
  border: 4px solid #34583c;
  background: radial-gradient(ellipse#348c4b 65%, #1a4430 100%);
  display: block;
  margin: 0 auto;
}

#info {
  margin-top: 9px;
  font-size: 18px;
}

#restart {
  margin-left: 24px;
  padding: 7px 17px;
  font-size: 16px;
  background: #2976f1;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 6px #2222;
}
